[StringParameter]
#remote ip
ForwardIP=123.123.123.123
#Mode:
#allwo value:NORMAL_PROXY(Not Encryption),ENCRYPT_CLIENT,ENCRYPT_SERVER
Mode=NORMAL_PROXY
EncryptionKey=anystring
#LogLevel:
#allow value: debug,info,warning,error
#if LogLevel was not set default LogLevel wiil be debug
LogLevel=info
LogPath=log

[IntegerParameter]
#local port
ListenPort=1111
#remote port
ForwardPort=2222

[FloatParameter]
# None

[BooleanParameter]
#None